
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "./fontawesome.scss";

 /* ============================================================================
 * modules
 * ========================================================================= */
@import "./modules/button";
@import "./modules/icon";
@import "./modules/select";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.router-link {
  &-primary {
    color: #fff !important;
  }
  &-secondary {
    color: rgba(0, 0, 0, 0.87) !important;
  }
  font-weight: bold;
}