/* ----------------------------------------------------------------------------
 * select
 * ------------------------------------------------------------------------- */
.m-select {
  background: url(/images/icon_arrow_down.svg) no-repeat right 16px center/12px auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #666;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;
  text-align: center;
  min-width: 152px;
  padding: 4px 8px;
  // margin-left: 8px;
  background-color: #fff;
}